---
export const prerender = false;

import { API_ENDPOINT, API_URL } from "astro:env/server";
import {
  Alert,
  AlignBox,
  Block,
  CopyButton,
  DataBadgeLink,
  DataSummary,
  DataSummaryItem,
  getAppearance,
  getDate,
  Heading,
  HeadingGroup,
  Icon,
  IconBadge,
  Link,
  Markdown,
  Paragraph,
  PillBadge,
  ReadOnlyTextInput,
  ScoreBadge,
} from "@developer-overheid-nl/don-register-components";
import i18n from "@developer-overheid-nl/don-register-components/i18n";
import {
  DonBasic,
  DonDetail,
} from "@developer-overheid-nl/don-register-layouts";
import { t } from "i18next";
import createClient from "openapi-fetch";
import appConfig from "../../../app.config";
import type { paths } from "../../types/api-schema";

const { id = null } = Astro.params;
const THINGS_RESOURCE: keyof paths = `/things/{id}`;

const client = createClient<paths>({
  baseUrl: `${API_URL}/${API_ENDPOINT}`,
});
const {
  data,
  error,
  response: { headers },
} = await client.GET(THINGS_RESOURCE, {
  params: {
    path: { id: id ? Number(id) : 0 },
  },
});

const { i18n: i18nApp } = appConfig;
const i18nPage = {
  "pages.aside-landmark": "Meer informatie",
};
i18n.addResourceBundle(
  i18n.language,
  "translation",
  i18nApp ? i18nApp[i18n.language] : {},
  true,
  true,
);
i18n.addResources(i18n.language, "translation", i18nPage);

// console.log(i18n.getResourceBundle(i18n.language, "translation").pages, t('pages.aside-landmark'));

const details = error ? null : data;
---

{ error && (
  <DonBasic appConfig={appConfig} titlePage="Ding niet gevonden">
    <Alert type="error">{(error as unknown as any).message || (error as unknown as any).detail || t('components.fuzz-error')}</Alert>
    <Paragraph>{t('components.item-not-found-error')}</Paragraph>
  </DonBasic>
)}

{details && (
  <DonDetail appConfig={appConfig} titlePage={details.name}>
    <HeadingGroup
      slot="header"
      title={`${t(`pages.details-of-item`)}: ${details.name}`}
      level={2} 
    >
      <Paragraph>
          <Link className={`styles.orgLink`} href={new URL(`./?category=${encodeURIComponent(details.category)}`, Astro.url).toString()}>
              {details.category}
          </Link>
      </Paragraph>
    </HeadingGroup>
    <Fragment slot="description">
      <Heading level={3} className="sr-only">{t(`pages.description`)}</Heading>
      <div class="utrecht-html"><Markdown text={details.description} minHeadingDepth={4} /></div>
    </Fragment>
    <Fragment slot="aside">
      <DataSummary appearance="row">
        <DataSummaryItem itemKey="Wikipedia" href={details.wikipedia || undefined} itemValue="">{details.wikipedia || '-'}</DataSummaryItem>
      </DataSummary>
    </Fragment>
  </DonDetail>
)}
